@tailwind base;
@tailwind components;
@tailwind utilities;

.truncated-title {
  white-space: nowrap;
  /* Prevents wrapping to multiple lines */
  overflow: hidden;
  /* Hides the overflow text */
  text-overflow: ellipsis;
  /* Adds the ellipsis */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 2px solid rgb(134, 134, 134);
  /* Light grey */
  border-top: 2px solid #fff;
  /* White */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header-area {
  background-color: #3c736b !important;
}

.footer-nav {
  background-color: #3c736b !important;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.quote-text {
  font-style: italic;
}